@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
  Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="keywords" content="" />
        @Html.Sitecore().Field("MetaDescription", new { disableWebEdit = true })
        @Html.Sitecore().Field("MetaTitle", new { disableWebEdit = true })
        <title>Event Page - The Adventure Company</title>
        <link rel="stylesheet" type="text/css" href="/Css/vendor.min.css" />
        <link rel="stylesheet" type="text/css" href="/Css/niteflight.min.css" />
        <link rel="stylesheet" type="text/css" href="/Css/addition.css">
        <link rel="stylesheet" type="text/css" href="/Css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/Css/Difficulty.css">
        @Html.Sitecore().VisitorIdentification()
    </head>
</head>
<body class="header-static">
    <h1>@Html.Sitecore().Field("title")</h1>

    <div>
        @Html.Sitecore().Placeholder("WechatFansMain")
    </div>
    <div>
        @Html.Sitecore().Field("banner")
    </div>
    <script src="Scripts/Sitecore.Foundation.Theming.min.js"></script>
    <script src="Scripts/Navigation.js"></script>
</body>
</html>